.effective-ckeditor-editting {
  padding-top: 110px; // Whatever the heigh of our top bar will be
  padding-bottom: 110px;
}

#effective-ckeditor-top { 
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 9000;
}

#effective-ckeditor-bottom { 
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  z-index: 9000;
}
