// This is the 'Insert Snippet' dropdown
span.cke_combo__insertsnippet > a > .cke_combo_text {
  width: 111px;
}

// The 'Insert Snippet' dropped down panel
.cke_combopanel.cke_combopanel__insertsnippet {
  width: 250px;
}

// The 'Styles' dropped down panel
.cke_combopanel.cke_combopanel__styles {
  width: 250px;
}

// The 'Styles' dropped down panel
.cke_combopanel.cke_combopanel__format {
  width: 180px;
}

span.cke_button__exit_label {
  display: inline;
}

div.effective-region {
  outline: none;
  display: inherit;
  border: 1px dotted #4195fc;
  min-height: 10px;
  min-width: 10px;

  &:focus {
    outline: none;
    border: 1px solid #4195fc;

    -webkit-box-shadow: 0px 0px 6px #4195fc;
       -moz-box-shadow: 0px 0px 6px #4195fc;
            box-shadow: 0px 0px 6px #4195fc;
  }
}
